html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Inter', sans-serif;
}

:root{
    ---main-color: #ECAD1B;
    ---font-size-12: 1.2rem;
    ---font-size-14: 1.4rem;
    ---font-size-16: 1.6rem;
    ---font-size-18: 1.8rem;
}

h1{
    font-size: 3.8rem;
}

.text-center{
    text-align: center;
}

