<script setup lang="ts">
import { ref } from 'vue';

const nameProject = ref('Ferrentacar')
</script>

<template>
  <RouterView />
</template>

<style scoped>
input{
  padding: 1.6rem;
  font-size: 1.6rem;
}
</style>
