<template>
  <h1 class="text-center">Iniciar Sesión</h1>

  <div class="container">

    <form action="">

      <div class="field">
        <label for="">Correo electrónico</label>
        <input type="email">
      </div>

      <div class="field">
        <label for="">Contraseña</label>
        <input type="password">
      </div>

      <button class="btn">Iniciar sesión</button>

      <div class="footer-form">
        <span>
          Forgotton your password?
          <a href="">
            Reset password
          </a>
        </span>
      </div>

    </form>

  </div>

  

</template>

<style scoped>



  label{
   font-size: var(---font-size-14);
   margin-bottom: .8rem; 
  }
  input{
    font-size: var(---font-size-16);
    padding: 1.4rem;
    margin-bottom: 2.4rem;
    border-radius: .4rem;
  }

  .btn{
    display: block;
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: var(---main-color);
    font-size: var(---font-size-16);
    font-weight: 600;
    transition: background-color .3s ease-out;
    border-radius: .4rem;
  }

  .btn:hover{
    background-color: #d49b18;
    cursor: pointer;
  }
  
  a{
    text-decoration: none;
    color: #037bc0;
    transition: background-color .3s ease-out;
  }

  a:hover{
    cursor: pointer;
    color: #026299;
  }

  .footer-form{
    margin-top: 2.4rem;
    text-align: center;
  }

  span, a {  
    font-size: var(---font-size-14);
  }

  .field{
    display: flex;
    flex-direction: column;
  }

  .container{
    max-width: 30rem;
    margin: 0 auto;
    
  
  }


</style>
