<template>
    
    <div class="container">
  
      <form action="">
  
        <div class="field">
          <label for="">Número de documento</label>
          <input type="password">
        </div>

        <div class="field">
          <label for="">Nombre</label>
          <input type="email">
        </div>
  
        <div class="field">
          <label for="">Apellido</label>
          <input type="password">
        </div>

        <div class="field">
          <label for="">Teléfono</label>
          <input type="password">
        </div>

        <div class="field">
          <label for="">Fecha de nacimiento</label>
          <input type="date">
        </div>

        <div class="container-btn">
            <button class="btn">Anterior</button>
            <button class="btn">Siguiente</button>
        </div>

        
  
      </form>
  
    </div>
  
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const isValidForm = ref(false)


</script>

  
  <style scoped>
  
  
  
    label{
     font-size: var(---font-size-14);
     margin-bottom: .8rem; 
    }
    input{
      font-size: var(---font-size-16);
      padding: 1.4rem;
      margin-bottom: 2.4rem;
      border-radius: .4rem;
    }
  
    .btn{
      display: block;
      /* width: 100%; */
      padding: 1rem;
      text-transform: capitalize;
      border: none;
      background-color: var(---main-color);
      font-size: var(---font-size-16);
      font-weight: 600;
      transition: background-color .3s ease-out;
      border-radius: .4rem;
    }
  
    .btn:hover{
      background-color: #d49b18;
      cursor: pointer;
    }
    
    a{
      text-decoration: none;
      color: #037bc0;
      transition: background-color .3s ease-out;
    }
  
    a:hover{
      cursor: pointer;
      color: #026299;
    }
  
    .footer-form{
      margin-top: 2.4rem;
      text-align: center;
    }
  
    span, a {  
      font-size: var(---font-size-14);
    }
  
    .field{
      display: flex;
      flex-direction: column;
    }
  
    .container{
      max-width: 30rem;
      margin: 0 auto;
    }

    .container-btn{
        display: flex;
        justify-content: space-between;
    }
  
  
  </style>
  