<template>
    <h1 class="text-center">Registro</h1>
    <!-- <RegisterFirstView /> -->
    <RegisterSecondView />
</template>

<script setup lang="ts">
import RegisterFirstView from './RegisterFirstView.vue';
import RegisterSecondView from './RegisterSecondView.vue';


</script>

<style scoped>

</style>